<!DOCTYPE html>
<html lang="en">
<head>
<style>
	hr {
  border: 10px solid #ffa01e;
  border-radius: 5px;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}



#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 200px) {
  #navbar {
    padding: 5px!important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
	</style>
	
<script type="text/javascript">
    var host = "startbootstrap.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Start Bootstrap">
<meta name="google-site-verification" content="37Tru9bxB3NrqXCt6JT5Vx8wz2AJQ0G4TkC-j8WL3kw">

<title>
    Full Width Pics - Template Preview - Start Bootstrap
  </title>

<meta name="description" content="">

<link rel="canonical" href="https://startbootstrap.com/previews/full-width-pics/">

<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">

<link rel="stylesheet" href="/assets/style-template.css">

<link type="application/atom+xml" rel="alternate" href="https://startbootstrap.com/feed.xml" title="startbootstrap" />
<script>
  // Google Analytics Tracking Script
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-38417733-17', 'startbootstrap.com');
  ga('send', 'pageview');
</script>
<meta name='ir-site-verification-token' value='-28223945'>

<meta property="og:title" content="Full Width Pics - Template Preview">
<meta property="og:site_name" content="Start Bootstrap">
<meta property="og:type" content="website">
<meta property="og:description" content="">
<meta property="og:image" content="https://startbootstrap.com/assets/img/branding/og-start-bootstrap.png">
<meta property="og:url" content="https://startbootstrap.com/previews/full-width-pics/">
<meta property="og:image:alt" content="Full Width Pics - Template Preview">

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://startbootstrap.com/assets/img/branding/start-bootstrap-logo-500x500.png">
<meta name="twitter:site" content="@SBootstrap">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/img/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#dd3d31">
<meta name="msapplication-TileColor" content="#dd3d31">
<meta name="theme-color" content="#ffffff">
</head>
<body class="preview-page">
<script id="dsq-count-scr" src="//startbootstrap.disqus.com/count.js" async></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<script src="/assets/js/scripts.js"></script>
<script>
    $("#desktopToggle").on('click', function(e) {
      e.preventDefault();
      $(".iframe-preview").removeClass("iframe-preview-mobile");
    });
    $("#mobileToggle").on('click', function(e) {
      e.preventDefault();
      $(".iframe-preview").addClass("iframe-preview-mobile");
    });
  </script>
	
	<!-- Navigation -->
	<div id="navbar">
	
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" stlye="position:fixed">
	<a class="navbar-brand" href="#"><H1><FONT color="orange">Q</FONT>plz</H1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" stlye="position:fixed">
		<ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#wordcloud">제품<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">레퍼런스</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">가격안내</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#">고객지원</a>
      </li>
    </ul>
	  <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
        <a class="nav-link" href="#">로그인</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/member/signup"><font color="orange">회원가입</font></a>
      </li>
      </ul>
  </div>
</nav>
			
	</div>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('home_background.jpg'); background-size: cover; ">

    <!-- <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> -->
	
	  
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
    <br>
    <H2>기본사항</H2>
	  <center>
    <form actions='member/signup' method='post'>
    <table class="table">
          <thead>
         
          </thead>
          <tbody>
            <tr>
            <td>
            아이디
            </td>
            <td colspan="3">
            <input type="text" class="form-control" id="userid" name="userid" placeholder="아이디 입력">
            </td>
            <td>
            </td>
            <td>
            </td>
            </tr>
            <tr>
            <td>
            비밀번호
            </td>
            <td colspan="3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </td>
            <td>
            </td>
            <td>
            </td>
            </tr>
            <tr>
            <td>
            비밀번호 확인
            </td>
            <td colspan="3">
            <input type="passwordCheck" class="form-control" id="passwordCheck" name="passwordCheck" placeholder="Password">
            </td>
            <td>
            </td>
            <td>
            </td>
            </tr><tr>
            <td>
            기업명
            </td>
            <td colspan="3">
            <input type="text" class="form-control" id="company" name="company" placeholder="기업명">
            </td>
            <td>
            </td>
            <td>
            </td>
            </tr><tr>
            <td>
            연락처
            </td>
            <td colspan="3">
            <input type="tel" class="form-control" id="tel" name="tel" placeholder="Enter Phone Number" style="height:40px;" pattern="(010)-\d{4}-\d{4}" title="010-0000-0000" required="required">
            </td>
            <td>
            </td>
            <td>
            </td>
            </tr><tr>
            <td>
            이메일
            </td>
            <td colspan="3">
            <input type="email" class="form-control" id="email" name="email" placeholder="email">
            </td>
            <td>
            </td>
            <td>
            </td>
            </tr>
          </tbody>
        </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/home/index" class="btn btn-default">돌아가기</a>
  <table class="table">
          <thead>
            <tr>
              <th>이메일</th>
              <th>비밀번호</th>
              <th>작성시간</th>
            </tr>
          </thead>
          <tbody>
            <% @signups.each do |p| %>
              <tr>
                <td><%= p.email %></td>
                <td><%= p.password %></td>
                <td><%= p.created_at %></td>
              </tr>
                <% end %>
          </tbody>
        </table>
		  
	  </center>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  
  </header>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "0px 0px";
  } else {
    document.getElementById("navbar").style.padding = "0px 0px";
  }
}
</script>
</body>
</html>





